body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d0d0c; /* Earth tone background color */
  /* You can change the background color to your desired Earth tone */
}

header {
  background-color: #0a0a0a;
  color: #0d0c0c;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* Font family for body and headings */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Margin for images inside w3-row-padding */
.w3-row-padding img {
  margin-bottom: 12px;
}

/* Width and background color for the sidebar */
.w3-sidebar {
  width: 120px;
  background: #222;
}

/* Margin for the main content to match the sidebar width */
#main {
  margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}